.container {
    width: 90vw;
    height: 95vh;
    margin: 0 auto;
    cursor: url('bob.png'), auto;
    position: relative;
    border: 4px solid darkblue;
}

.game {
    background: url('fundo.jpg');
    counter-reset: pontos;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.game:after {
    content: counter(pontos) '/5';
    font-size: 2em;
    text-align: center;
    float: right;
    padding: 0.3em;
    z-index: 5;
    color: white;
    vertical-align: middle;
}

.game:before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 4px darkgoldenrod;
    float: right;
    text-align: center;
    vertical-align: middle;
    margin-top: 1em;
    margin-right: 0.5em;
}

.intro {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 15;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intro, #rules {
    display: none;
}

label[for="intro"], label[for="rules"] {
    padding: 1em;
    font-size: 1.2em;
    background-color: purple;
    border-radius: 5px;
    margin: 1em 25%;
    display: inline-block;
    border: 1px solid purple;
}

label[for="intro"]:hover, label[for="rules"]:hover {
    color: purple;
    background-color: white;
}

#intro:checked ~ .intro {
    display: none;
}

#intro:checked + #rules:checked ~ .rules {
    display: none;
}

.rules {
    display: block;
    z-index: 14;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.rules div {
    background-color: white;
    display: inline-block;
    margin: 0 auto;
    z-index: 19;
    text-align: center;
    overflow: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
}

.rules ul {
    list-style: none;
    padding: 0;
}

.rules ul > li {
    margin: 1em auto;
}

.inimigo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    z-index: -1;
}

.coin {
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 4px darkgoldenrod;
    position: absolute;
    -webkit-appearance: none;
    z-index: -1;
}

.coin:checked {
    counter-increment: pontos;
    visibility: hidden;
    /* NAO FUNCIONA display: none; */
}

.game:hover > .coin,
.game:hover > .inimigo {
    animation-name: moving;
    animation-fill-mode: backwards;
}

#i1, #i6 {
    left: 9%;
    animation-duration: 6s;
    animation-iteration-count: 2;
}

#i2, #c3 {
    left: 23%;
    animation-duration: 5s;
    animation-iteration-count: 2;
}

#i3, #i7 {
    left: 37%;
    animation-duration: 7s;
    animation-iteration-count: 2;
}

#c1, #i8 {
    left: 51%;
    animation-duration: 6s;
    animation-iteration-count: 2;
}

#i4, #i9 {
    left: 65%;
    animation-duration: 12s;
    animation-iteration-count: 1;
}

#c2, #c4 {
    left: 79%;
    animation-duration: 7s;
    animation-iteration-count: 2;
}

#i5, #i10 {
    left: 90%;
    animation-duration: 10s;
    animation-iteration-count: 1;
}

#c5 {
    left: 29%;
    animation-duration: 10s;
    animation-iteration-count: 1;
}

#i6, #c3, #i7, #i8, #i9, #c4, #i10, #c5 {
    animation-delay: 10s;
    background-color: red;
}


@keyframes moving {
    0% {
        top: 0;
        z-index: -1;
    }
    1% {
        z-index: 2;
    }
    100% {
        top: calc(100% - 25px);
        z-index: 2;
    }
}

.pause-container {
    display: none;
    width: 100%;
    height: calc(100% - 32px - 0.3em);
    position: absolute;
    background-color: black;
    opacity: 0.7;
    z-index: 10;
    top: calc(32px + 0.3em); 
}

.pause-container:before {
    content: '';
    left: calc(32px + 0.3em);
    top: calc(-32px - 0.3em);
    width: calc(100% - 32px - 0.3em);
    height: calc(32px + 0.3em);
    position: absolute;
    background-color: black;
}

#pause-button + label {
    background-image: url('pause.png');
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 0.3em;
}

#pause-button:checked + label {
    background-image: url('play.png');
}

#pause-button {
    display: none;
}

#pause-button ~ .inimigo,
#pause-button ~ .coin {
    animation-play-state: running;
}

#pause-button:checked ~ .inimigo,
#pause-button:checked ~ .coin {
    animation-play-state: paused;
}

#pause-button:checked ~ .pause-container {
    display: block;
}

.oops {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 10;
    font-size: 3em;
    color: white;
    text-align: center;
}

.oops:hover {
    display: block;
}

.inimigo:hover ~ .oops {
    display: block;
}

.venceu {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: green;
    top: 0;
    left: 0;
    z-index: 10;
    font-size: 3em;
    color: white;
    text-align: center;
}

#c1:checked ~ #c2:checked ~ #c3:checked ~ #c4:checked ~ #c5:checked 
~ .venceu {
    display: block;
}